DATABASE_URL=mysql://USER:PASSWORD@db:3306/lagernaut
REDIS_URL=redis://redis:6379
MEILISEARCH_URL=http://meilisearch:7700
MEILISEARCH_KEY=YOUR_MEILISEARCH_MASTER_KEY
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET
NEXTAUTH_URL=http://YOUR_SERVER_IP:3000
