# Dependencies
node_modules

# Next.js
.next
dist
out

# Environment variables
.env
.env.*
!.env.example

# Secrets / Certs
*.pem
*.key
*.crt

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Prisma
prisma/migrations/**/migration_lock.toml
